@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-[#E4E1D5] font-sans;
  font-family: "General Sans", sans-serif;
}
html {
  background-color: rgb(228 225 213 / var(--tw-bg-opacity, 1))
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Koh Santepheap", serif;
}
